@import "mixin";

#container {
  width: 100vw;
  height: 100vh;
  &.mainIndex {
    background: #101010 url('/static/images/main_bg_text.png') no-repeat center center;
    overflow: hidden;
    @keyframes index-ani1 {
      0% {
        opacity: 0;
        margin-top: -50px;
      }
      100% {
        opacity: 1;
        margin-top: 0;
      }
    }
    @keyframes index-ani-bar {
      0% {
        opacity: 0;
        margin-top: -50px;
        height: 0;
      }
      100% {
        opacity: 1;
        margin-top: 0;
        height: 485px;
      }
    }
    main {
      position: relative;
      height: 100%;
      max-width: 1000px;
      margin: 0 auto;
      h1 {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 81px;
        height: 485px;
        overflow: hidden;
        animation: index-ani-bar 1s 0s forwards;
        img {
          position: absolute;
          max-height: unset;
        }
      }
    }
    .world {
      @include flex(space-between);
      width: 70%;
      max-width: 1000px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      li {
        position: relative;
        width: 142px;
        height: 400px;
        background: #000;
        overflow: hidden;
        transform: skewY(-25deg);
        box-shadow: 1px 10px 15px 2px rgba(0, 255, 255, 0.1);
        opacity: 0;
        .imgBox {
          position: absolute;
          transform: skewY(25deg);
          transition: all 0.3s;
          margin-top: 0;
          &:hover {
            margin-top: 10px;
          }
        }
        &.gamak {
          transform: skewY(-25deg) translateY(60px);
          animation: index-ani1 0.5s 0.5s forwards;
          .imgBox {
            top: -30px;
            left: -5px;
          }
        }
        &.solomon {
          transform: skewY(-25deg) translateY(-100px);
          animation: index-ani1 0.5s 0.6s forwards;
          .imgBox {
            top: -25px;
            right: 30px;
          }
        }
        &.aeolus {
          transform: skewY(-25deg) translateY(10px);
          animation: index-ani1 0.5s 0.7s forwards;
          .imgBox {
            top: 20px;
            right: 0;
          }
        }
      }
    }
    .bottom-bar {
      position: absolute;
      bottom: 50px;
      right: 0;
      background: $color_cyan;
      height: 10px;
      animation: show-ani-bar 1s 0.5s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
      @keyframes show-ani-bar {
        0% {
          width: 0;
        }
        100% {
          width: 500px;
        }
      }
      .title {
        position: absolute;
        opacity: 0;
        right: 0;
        top: -29px;
        animation: show-ani-text 1s 0.8s forwards;
        @keyframes show-ani-text {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
}

.bgArea {
  .overlay {

  }
  .layer{
    position:absolute;
    top:0;
    left:0;
  }
}
